langchain
langchain-community
langchain-chroma
langchain_huggingface
langchain_text_splitters
langchain_groq
langchain_core
chromadb
sentence-transformers
pypdf
fastapi
uvicorn
python-dotenv
langfuse
ragas
groq
streamlit
torch
dotenv
torchvision